@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
}

* {
    font-family: "Cyber", sans-serif;
}

body {
    background-image: linear-gradient(175deg, rgb(44, 8, 12), rgb(0, 2, 5));
    overflow-x: hidden;
    margin: 0;
}

::selection {
    background: #21B7C6;
    color: #E33731;
}

.cybr-btn {
    width: 300px;
}

nav {
    position: fixed;
    margin-top: 20px;
    transform: translateX(-150%);
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    width: fit-content;
    height: fit-content;
    background-image: linear-gradient(175deg, rgb(44, 8, 12), rgb(0, 2, 5));
    border: #E33731 3px solid;
    box-shadow: 5px 5px #21B7C6, 0px 0px 20px 20px rgba(227, 55, 49, 0.25);
}

#nav-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 20px;
    margin: 20px;
}

#nav-content>a>button {
    margin: 5px;
}

nav.appear {
    transform: translateX(10%) rotateY(-25deg) rotateX(-15deg) translateY(50px);
}

nav.appear:hover {
    transform: translateX(10%) translate3d(0px, 0px, 100px) rotateY(-15deg) rotateX(-10deg) scale(1.05);
}

#rotate-div {
    transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    perspective: 100px;
    height: fit-content;
}

#rotate-div.rotate {
    transform: rotateY(30deg) rotateX(-15deg) translateX(300px) translateY(100px);
}

#rotate-div.rotate:hover {
    transform: rotateY(25deg) rotateX(-10deg) translateX(300px) translate3d(0px, 0px, 100px) scale(1.05);
}

section {
    color: #21B7C6;
    border: #E33731 3px solid;
    box-shadow: 5px 5px #21B7C6, 0px 0px 20px 20px rgba(227, 55, 49, 0.25);
    height: fit-content;
    margin-bottom: 15px;
    padding-bottom: 200px;
    background-image: linear-gradient(175deg, rgb(44, 8, 12), rgb(0, 2, 5));
}

section.sec-even {
    background-image: linear-gradient(175deg, rgb(0, 2, 5), rgb(44, 8, 12));
}

h1 {
    font-size: 60px;
}

p {
    font-size: 25px;
}

.special-text {
    color: #E33731;
    background-color: rgba(227, 55, 49, 0.25);
    box-shadow: 0px 0px 20px 10px rgba(227, 55, 49, 0.25);
}

input {
    font-size: 30px;
    border: #E33731 3px solid;
    box-shadow: 0px 0px 20px 20px rgba(227, 55, 49, 0.25);
    background-color: #E33731;
    color: white;
    transition: box-shadow 0.5s;
}

input:focus {
    box-shadow: 0px 0px 15px 3px #21B7C6;
    outline: none;
}

.submit-btn {
    margin-top: 20px;
    width: 175px !important;
}

.sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec1-div1 {
    display: flex;
    margin-bottom: 75px;
}

.sec1-div1>* {
    margin: 20px;
}

.sec1-div1>img {
    width: 40vw;
    border: 1.5px #FDE907 solid;
    box-shadow: 0px 0px 10px 10px #e33731a4;
    transition: box-shadow 0.2s ease-in-out, transform 0.75s cubic-bezier(0.19, 1, 0.22, 1), translate 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.sec1-div1>img:hover {
    box-shadow: 0px 0px 5px 5px #e33731a4;
}

#nav2 {
    width: 99.9vw;
    position: sticky;
    top: 0;
    z-index: 10;
    background-image: linear-gradient(175deg, rgb(44, 8, 12), rgb(0, 2, 5));
    border: #E33731 1.5px solid;
    transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px 20px rgba(227, 55, 49, 0.25)
}

#nav2.go-away {
    transform: translateX(425px) translateY(50px) rotateY(30deg) rotateX(-10deg);
}

#nav-toggle {
    font-size: 55px;
    padding: 5px 25px 5px 25px;
    margin: 10px;
}