<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="view-transition" content="same-origin" />
    <title>{% block title %}Default Title{% endblock title %}</title>
    <link rel="stylesheet" href="/static/buttons.css">
    <link rel="stylesheet" href="/static/coolStyle.css">
    <script src="/static/script.js" defer></script>
</head>

<body>
    <nav>
        <div id="nav-content">
            {% for i in range(5) %}
            {% if i == 0 %}
            <a href="/">
                <button class="cybr-btn">
                    PAGE_{{i}}
                    <span aria-hidden class="cybr-btn__glitch">PAGE_{{i}}</span>
                    <span aria-hidden class="cybr-btn__tag">PG{{i}}</span>
                </button>
            </a>
            {% else %}
            <a href="{{ '/page%s'%i }}">
                <button class="cybr-btn">
                    PAGE_{{i}}
                    <span aria-hidden class="cybr-btn__glitch">PAGE_{{i}}</span>
                    <span aria-hidden class="cybr-btn__tag">PG{{i}}</span>
                </button>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </nav>
    <div id="nav2">
        <button id="nav-toggle" class="cybr-btn" onclick="navToggle()">
            MENU_
            <span aria-hidden class="cybr-btn__glitch">MENU_</span>
            <span aria-hidden class="cybr-btn__tag">V1.0</span>
        </button>
        {% if not session["username"] %}
        <button id="nav-toggle" class="cybr-btn" onclick="navToggle()">
            LOG_IN
            <span aria-hidden class="cybr-btn__glitch">ERR_03</span>
            <span aria-hidden class="cybr-btn__tag">V2.1</span>
        </button>
        {% else %}
        {% endif %}

    </div>

    <div id="rotate-div">
        <div id="rotate-content">
            <!-- <hr> -->
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>

</html>