{% extends "_layout.html" %}

{% block title %} welcome_to_night_city {% endblock title %}

{% block content %}
<section class="sec1">
    <h1>welcome to night_city</h1>
    <p>wake up samurai, we've got a city to <span class="special-text">burn</span></p>

    <div class="sec1-div1">
        <img src="static/images/night-city.png" alt="night city" id="night-city-img" onmousemove="cool3dthing(event)"
            onmouseleave="stopcool3dthing()">
        <p>Night City, the bustling metropolis at the heart of Cyberpunk 2077, pulsates with energy and danger. Neon
            lights flicker against the darkened sky, casting an eerie glow over the labyrinth of streets below.
            Skyscrapers tower overhead, their reflective surfaces mirroring the chaotic streets teeming with a
            diverse array of people, from corporate suits to street punks. The air is thick with the scent of
            pollution and ambition, as the city breathes with a life of its own, fueled by greed, corruption, and
            technological advancement. Amidst the towering structures and bustling crowds, secrets lurk in every
            shadow, waiting to be uncovered by those brave enough to navigate the twisted alleys and dark underbelly
            of this futuristic urban sprawl.</p>
    </div>
    <button class="cybr-btn">
        lets go_
        <span aria-hidden class="cybr-btn__glitch">night_city</span>
        <span aria-hidden class="cybr-btn__tag">NC</span>
    </button>

</section>
<section class="sec-even">
    <h1>sec_2</h1>
    <button class="cybr-btn">
        PAGE_{{i}}
        <span aria-hidden class="cybr-btn__glitch">PAGE_{{i}}</span>
        <span aria-hidden class="cybr-btn__tag">PG{{i}}</span>
    </button>
</section>
<section>
    <h1>sec_3</h1>
    <button class="cybr-btn">
        PAGE_{{i}}
        <span aria-hidden class="cybr-btn__glitch">PAGE_{{i}}</span>
        <span aria-hidden class="cybr-btn__tag">PG{{i}}</span>
    </button>
</section>
{% endblock content %}